header {
    display: block;
    margin: 0 auto;
    height: 100px;
    padding: 10px 25px;
    background-color: #b42929;
    box-shadow: 1px 1px 5px #000000;
    position: relative;
    z-index: 1;
}
  
header h1 {
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    display: inline-block;
}

#userIcon {
    float: right;
    font-size: 16px;
    height: 100%;
    margin-top: 25px;
    margin-left: 10px;
    color: #ffffff;
    line-height: 50px;
    display: block;
}

#userIcon i.material-icons {
    font-size: 36px;
    color: #ffffff;
    margin: 0 10px;
    vertical-align: middle;
}

#username {
    margin-bottom: 100px;
}

#footer {
    height: 75px;
    background-color: #242323;
    border-top: 5px solid #791d1d;
    width: 100%;
    position: absolute;
    bottom: 0; 
}

section {
    padding: 15px 35px;
    float: left;
    height: 100vh;
    margin: 0;
    width: 80%;
}

nav {
    float: left;
    width: 20%;
    height: 100%;
    background-color: #791d1d;
    box-shadow: 1px 1px 5px #000000;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: block;
    border-bottom: 1px solid #ffffff;
    margin: 0;
}

nav ul li a {
    display: block;
    width: 100%;
    padding: 25px;
    color: #ffffff;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #571717;
}

nal ul li.active {
    background-color: #4b1414;
}

nav ul li a i.material-icons {
    float: right;
}

#editFileBtn {
    float: right;
}

#menu {
    list-style-type: none;
    width: 200px;
    background-color: #b42929;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 30px;
    top: 100px;
    box-shadow: 1px 1px 5px #000000;
}

#menu li {
    display: block;
    color: #ffffff;
    padding: 10px 25px;
    text-align: right;
    cursor: pointer;
}

#menu li:hover {
    background-color: #791d1d;
}

#toggleMenuIcon {
    cursor: pointer;
}
