<template>
  <form class="main-section" submit.trigger="register()">
      <h1 class="page-title">Register Patient</h1>
      <div class="form-content">
        <h2>Patient</h2>
        <hr/>
        <div class="form-row">
          <label>Government Insurance Number:
            <input type="text" value.bind="patient.id & validate" placeholder="11111"/>
          </label>
        </div>
        <div class="form-row">
          <label>First Name:
            <input type="text" value.bind="patient.firstName & validate" placeholder="John"/>
          </label>
          <label>Last Name:
            <input type="text" value.bind="patient.lastName & validate" placeholder="Doe"/>
          </label>
        </div>
        <div class="form-row">
          <label>Telephone Number:
            <input type="telephone" class="input-short" value.bind="patient.telephone & validate" placeholder="(111) 111-1111"/>
          </label>
        </div>
        <div class="form-row">
          <label>Address Line 1:
              <input type="text" class="input-long" placeholder="Number, Street, Unit" value.bind="patient.address.line & validate"/>
          </label>
        </div>
        <div class="form-row">
          <label>City:
            <input type="text" placeholder="Ottawa" value.bind="patient.address.city & validate"/>
          </label>
          <label>Postal Code:
            <input type="text" placeholder="K1N4F2" value.bind="patient.address.postalCode & validate"/>
          </label>
        </div>
        <label>Date Of Birth:
          <input type="text" placeholder="YYYY-MM-DD" value.bind="patient.dateOfBirth & validate"/>
        </label>
        <div class="form-row">
          <label>Gender:
            <select value.bind="patient.gender">
              <option value="M">Male</option>
              <option value="F">Female</option>
              <option value="O">Other</option>
              <option value="PNS">Prefer not to specify</option>
            </select>
          </label>
          <label>Marital Status:
            <select value.bind="patient.maritalStatus">
              <option value="S">Single</option>
              <option value="M">Married</option>
              <option value="D">Divorced</option>  
            </select>
          </label>
        </div>
        <label>External Doctor ID:
          <input value.bind="patient.externalDoctorId & validate" placeholder="1111"/>
        </label>
        <h2>Next Of Kin</h2>
        <hr/>
        <div class="form-row">
          <label>First Name:
            <input type="text" placeholder="John" value.bind="patient.nextOfKin.firstName & validate"/>
          </label>
          <label>Last Name:
            <input type="text" placeholder="Doe" value.bind="patient.nextOfKin.lastName & validate"/>
          </label>
        </div>
        <div class="form-row">
          <label>Relationship to Patient:
            <input type="text" placeholder="Father" value.bind="patient.nextOfKin.relationshipToPatient & validate"/>
          </label>
        </div>
        <div class="form-row">
          <label>Address Line 1:
              <input type="text" class="input-long" placeholder="Number, Street, Unit" value.bind="patient.address.line & validate"/>
          </label>
        </div>
        <div class="form-row">
          <label>City:
            <input type="text" placeholder="Ottawa" value.bind="patient.address.city & validate"/>
          </label>
          <label>Postal Code:
            <input type="text" placeholder="K1N4F2" value.bind="patient.address.postalCode & validate"/>
          </label>
        </div>
        <div>
          <label>Telephone Number:
            <input type="text" placeholder="(111) 111-1111" value.bind="patient.nextOfKin.telephone & validate"/>
          </label>
        </div>
        <div class="button-section">
            <button type="submit">Register</button>
        </div>
      </div>
  </form>
</template>