<template>
  <require from="./styles.css"></require>
  <div class="shadow-layer"></div>
  <div id="loginWrapper">
    <form class="main-section">
      <h3 class="page-title">Patient Management System (PMS)</h3>
      <div class="content">
        <div>
          <input type="text" placeholder="Staff ID" value.bind="staffID"
            class.bind="invalidStaffID ? 'invalid' : ''"
          />
        </div>
        <div>
          <input type="password" placeholder="Password" value.bind="password"
            class.bind="invalidPassword ? 'invalid' : ''"
          />
        </div>
        <div id="loginRegisterButtons">
          <button type="button" click.trigger="register()">Register</button>
          <button click.trigger="login()">Login</button>
        </div>
      </div>
    </form>
  </div>
</template>
