#loginForm {
  position: absolute;
  top: 35%;
  left: 50%;
  margin-left: -250px;
  margin-top: -175px;
  width: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px black;
  height: 350px;
  background-color: #f2f2f2;
}

#loginTitle {
  margin: 0 auto;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #000000;
  background-color: #b42929;
  padding: 25px 10px;
  color: #ffffff;
  text-shadow: 1px 1px 2px #000000;
}

#loginContent {
  padding: 30px;
}

#loginWrapper input {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#loginRegisterButtons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

#loginRegisterButtons button {
  width: 140px;
  margin: 0;
}

#loginWrapper {
	width: 500px;
	position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -250px;
}

#loginWrapper .page-title {
  text-align: center;
}
