<template>
    <require from="./styles.css"></require>
    <div id="DivisionFile">
        <h2>${division.divisionName}, ${division.divisionID}</h2>
        <hr/>
        <div class="division-info">
            <strong>Charge Nurse ID:</strong> ${division.chargeNurseID}
        </div>
        <div class="division-info">
            <strong>Location:</strong> ${division.location}
        </div>
        <div class="division-info">
            <strong>Total Number of Beds:</strong> ${division.numOfBeds}
        </div>
        <div class="division-info">
            <strong>Number of Occupied Beds:</strong> ${division.numOfOccupiedBeds}
        </div>
        <div class="division-info">
            <strong>Phone Extension:</strong> ${division.phoneExtension}
        </div>
        <div class="division-info">
            <strong>Status:</strong> ${division.status}
        </div>
    </div>
</template>