<template>
    <require from="./styles.css"></require>
    <div class="shadow-layer"></div>
    <div id="registerWrapper">
        <form class="main-section" submit.trigger="register()">
            <h3 class="page-title">Patient Management System (PMS)</h3>
            <div class="content">
                <div class="form-row">
                    <label><span class="required-field">* </span>Password:
                        <input type="password" value.bind="staff.password" placeholder="Must be alphanumeric"
                            focusout.trigger="staff.hasChanged('password')"
                            class.bind="staff.changed['password'] ? (staff.isPasswordValid ? 'valid' : 'invalid'): ''"
                        />
                    </label>
                    <label><span class="required-field">* </span>Confirm Password:
                        <input type="password" value.bind="staff.cpassword" placeholder="Must match password"
                            focusout.trigger="staff.hasChanged('cpassword')"
                            class.bind="staff.changed['cpassword'] ? (staff.isCPasswordValid ? 'valid' : 'invalid'): ''"
                        />
                    </label>
                </div>
                <div class="form-row">
                    <label><span class="required-field">* </span>First Name:
                        <input type="text" value.bind="staff.firstName" placeholder="John"
                            focusout.trigger="staff.hasChanged('firstName')"
                            class.bind="staff.changed['firstName'] ? (staff.isFirstNameValid ? 'valid' : 'invalid'): ''"
                        />
                    </label>
                    <label><span class="required-field">* </span>Last Name:
                        <input type="text" value.bind="staff.lastName" placeholder="Doe"
                            focusout.trigger="staff.hasChanged('lastName')"
                            class.bind="staff.changed['lastName'] ? (staff.isLastNameValid ? 'valid' : 'invalid'): ''"
                        />
                    </label>
                </div>
                <div class="form-row">
                    <label><span class="required-field">* </span>Email Address:
                        <input type="text" class="long-input" value.bind="staff.email" placeholder="example@gmail.com"
                            focusout.trigger="staff.hasChanged('email')"
                            class.bind="staff.changed['email'] ? (staff.isEmailValid ? 'valid' : 'invalid'): ''"
                        />
                    </label>
                </div>
                <div class="form-row">
                    <label><span class="required-field">* </span>Role:
                        <select value.bind="staff.role">
                            <option value="Doctor">Doctor</option>
                            <option value="Nurse">Nurse</option>
                            <option value="Personel Officer">Personel Officer</option>
                            <option value="Medical Director">Medical Director</option>
                        </select>
                    </label>
                </div>
                <div class="button-section">
                    <button type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>
</template>
