#hospitalIcon.material-icons {
    position: absolute;
    color: #b4292938;
    font-size: 200px;
    right: 50px;
    bottom: 50px;
}

p {
    font-size: 20px;
    margin: 20px;
}

p i {
    vertical-align: middle;
}
