
#consultPatientFileSearch {
    padding: 20px 40px;
}

#patientFile {
    padding: 20px 40px;
}

#patientFile div {
    margin: 10px 0;
}

#updatePatientFile {
    padding: 20px 40px;
    overflow-y: auto;
    height: 550px;
}